{% extends 'base.html'%} {% block content %}

<h3>All Recipes</h3>
<ul class="collapsible popout">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <div class="recipe_header col s9">
                <i class="material-icons">expand_more</i>
                <strong>{{recipe.recipe_name}}</strong> - {{recipe.course_name}}
            </div>
        </div>
        <div class="collapsible-body">
            <span>{{recipe.recipe_description}}</span>
            <div>
            <a href="{{url_for('recipe_detail', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small green">View</a>
            </div>
        </div>
    </li>
    {% endfor %}

</ul>
{% endblock %}
