{% extends 'base.html'%} {% block content %}

<h3>All Recipes</h3>

<p>Number of British Cuisines: {{ bcuisine_count }}</p>
<p>Number of Chinese Cuisines: {{ ccuisine_count }}</p>
<p>Number of Unspecified Cuisines: {{ ucuisine_count }}</p>
<span>
    <ul class="collapsible popout">
    <li>
        <div class="collapsible-header">
            <div class="recipe_header col s9">
                <i class="material-icons">expand_more</i>
                <strong>Number of British Cuisines</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <span>{{bcuisine_count}}</span>
        </div>
    </li>
    <ul class="collapsible popout">
    <li>
        <div class="collapsible-header">
            <div class="recipe_header col s9">
                <i class="material-icons">expand_more</i>
                <strong>Number of Chinese Cuisines</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <span>{{ccuisine_count}}</span>
        </div>
    </li>
</span>

</ul>
<p>Recipe count: {{ recipe_count }}</p>
<ul class="collapsible popout">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <div class="recipe_header col s9">
                <i class="material-icons">expand_more</i>
                <strong>{{recipe.recipe_name}}</strong> - {{recipe.course_name}}
            </div>
        </div>
        <div class="collapsible-body">
            <span>{{recipe.recipe_description}}</span>
            <div>
                <a href="{{url_for('recipe_detail', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small green">View</a>
            </div>
            <div>
                <a href="{{url_for('add_saved_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small green">Save</a>
            </div>
        </div>
    </li>
    {% endfor %}

</ul>
{% endblock %}
