{% extends 'base.html'%} {% block content %}

<h3>Saved Recipes</h3>
<p>Recipe count: {{ recipe_count }}</p>
<p>Number of British Cuisines: {{ bcuisine_count }}</p>
<p>Number of Chinese Cuisines: {{ ccuisine_count }}</p>
<p>Number of Unspecified Cuisines: {{ ucuisine_count }}</p>
<ul class="collapsible popout">
    {% for saved_recipes in saved_recipes %}
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <i class="material-icons">expand_more</i>    
            </div>            <div class="recipe_header col s9">
                <strong>{{saved_recipes.recipe_name}}</strong> - {{saved_recipes.course_name}}
            </div>
        </div>
        <div class="collapsible-body">
            <span>{{saved_recipes.recipe_description}}</span>
            <div>
            <a href="{{url_for('saved_recipe_detail', recipe_id=saved_recipes._id)}}" class="waves-effect waves-light btn btn_small green">View</a>
            </div>
        </div>
    </li>
    {% endfor %}

</ul>
{% endblock %}